<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Endpoint Manager</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Endpoint Manager</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>URL</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="endpoints-table-body">
            {% for endpoint in endpoints %}
            <tr id="row-{{ endpoint.id }}">
                <td data-label="ID">{{ endpoint.id }}</td>
                <td data-label="URL" id="url-{{ endpoint.id }}">{{ endpoint.url }}</td>
                <td data-label="Action">
                    <form class="update-btn-container" onsubmit="return updateEndpoint(event, '{{ endpoint.id }}')">
                        <input type="url" id="new-url-{{ endpoint.id }}" placeholder="New URL" required>
                        <button type="submit" class="update-btn">Update</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
function fetchEndpoints() {
    fetch(`http://{{ api_host }}:5000/api/endpoints`)
    .then(response => response.json())
    .then(data => {
        data.forEach(endpoint => {
            const row = document.getElementById(`row-${endpoint.id}`);
            
            if (row) {
                document.getElementById(`url-${endpoint.id}`).innerText = endpoint.url;
            }
        });
    })
    .catch(error => {
        console.error("Error fetching endpoints:", error);
    });
}

function updateEndpoint(event, endpointId) {
    event.preventDefault();

    const newUrlInput = document.getElementById(`new-url-${endpointId}`);
    const newUrl = newUrlInput.value.trim();
    const row = document.getElementById(`row-${endpointId}`);

    fetch(`http://{{ api_host }}:5000/api/endpoints/${endpointId}`, {
        method: 'PUT',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ url: newUrl }),
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            document.getElementById(`url-${endpointId}`).innerText = newUrl;
            newUrlInput.value = "";
            row.classList.add("highlight");

            setTimeout(() => row.classList.remove("highlight"), 2000);
        } else {
            console.error("Failed to update URL:", data.message);
        }
    })
    .catch(error => {
        console.error("Error:", error);
    });
}

setInterval(fetchEndpoints, 15000);

fetchEndpoints();
</script>

</body>
</html>
